//汎用性が高いところに使う
body {
    color: $black;
    font-family: 'Noto Sans JP', sans-serif,"Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo";
    font-size: 15px;
    line-height: 1.5;
    background-color: $beige;   //1109追加
    // min-width: 100vw;        //1109追加　変化なし
    // min-height: 100vh;       //1109追加  変化なし
    // display: flex;           //1109追加  変化なし
    // flex-direction: column;  //1109追加  変化なし
}

// main{                   //1109追加　変化なし
//     width: 100%;        //1109追加  変化なし
//     flex: 1;            //1109追加  変化なし
//     display: flex;      //1109追加  変化なし
// }

.c-bgcolor{
    background-color: black;
    &--darkbrown{
        background-color: $darkbrown;
    }
    &--beige{
        background-color:$beige;
    }
    &--yellow{
        background-color:$yellow;
    }
    &--navy{
        background-color:$navy;
    }
    &--brown{
        background-color:$brown;
    }
}
