//汎用性が高いところに使う
body {
    color: $black;
    font-family: 'Noto Sans JP', sans-serif,"Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo";
    font-size: 15px;
    line-height: 1.5;
    background-color: $beige;   //1109追加
    // min-width: 100vw;        //1109追加　変化なし
    // min-height: 100vh;       //1109追加  変化なし
    // display: flex;           //1109追加  変化なし
    // flex-direction: column;  //1109追加  変化なし
}

// 背景色の設定
// main{                   //1109追加　変化なし
//     width: 100%;        //1109追加  変化なし
//     flex: 1;            //1109追加  変化なし
//     display: flex;      //1109追加  変化なし
// }

.c-bgcolor{
    background-color: black;
    &--darkbrown{
        background-color: $darkbrown;
    }
    &--beige{
        background-color:$beige;
    }
    &--yellow{
        background-color:$yellow;
    }
    &--navy{
        background-color:$navy;
    }
    &--brown{
        background-color:$brown;
    }
}

// ボタン
.c-btn {
    width: 100px;
    height: 100px;
    &--darkbrown {
        background-color: $darkbrown;
    }
    &--yellow {
        background-color: $yellow;
    }
    &:hover {
        opacity: 0.8;
    }
    &--bigger {
        width: 150px;
        height: 150px;
    }
}


.button {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #04047b;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #04047b;    /* 枠の指定 */
    width: 12em;
    height:2em;
  
  }
  
  .button:hover {
  
    color         : #04047b;     /* 背景色     */
  
    background    : #ffffff;     /* 文字色     */
  
  }

// テキスト色
.c-color{
    color: black;
    &--darkbrown{
        color: $darkbrown;
    }
    &--beige{
        color:$beige;
    }
    &--yellow{
        color:$yellow;
    }
    &--navy{
        color:$navy;
    }
    &--brown{
        color:$brown;
    }
    &--gray_darker{
        color: $gray_darker;
    }
    &--gray_darker {
        color: $gray_darke;
    }
    &--gray {
        color: $gray;
    }
    &--gray_light {
        color: $gray_light;
    }
    &--gray_lighter {
        color: $gray_lighter;
    }
    &--white {
        color: $white;
    }
}

.c-text-sm {
    font-size: 0.9em;
}

.c-text-lg {
    font-size: 1.2em;
}
