//Color
$plat_purple: #a63783;
$plat_pink: #cb4778;
$plat_orange: #e69a4b;
$plat_yellow: #eec94a;
$plat_navy: #354260;

$gray_darker: #7f7f7f;
$gray_darke: #ababab;
$gray: #c9c9c9;
$gray_light: #d9d9d9;
$gray_lighter: #f6f6f6;