// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$darkbrown:#87785A;
$beige:#D6C3A1;
$yellow:#EAAB06;
$navy:#04047B;
$brown:#CC860C;
$black: #333;

